<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<script src="webjars/jquery/3.1.1/jquery.min.js"></script>  
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
<link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />    
<meta charset="UTF-8" />
<title>显示当前创建的文件夹页-云视频学习平台</title>
<style>
	.glyphicon-film:before,
	.glyphicon-list-alt:before,
	.glyphicon-off:before,
	.glyphicon-home:before{
    	font-size: 28px;
	}
</style>
</head>
<link rel="stylesheet" href="/modelSystem/css/style.default.css" type="text/css" />
<script type="text/javascript" src="/modelSystem/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/modelSystem/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/modelSystem/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/modelSystem/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/modelSystem/js/plugins/jquery.flot.min.js"></script>
<script type="text/javascript" src="/modelSystem/js/plugins/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="/modelSystem/js/plugins/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/modelSystem/js/custom/general.js"></script>
<script type="text/javascript" src="/modelSystem/js/custom/dashboard.js"></script>
</head>

<body class="withvernav">
<div class="bodywrapper">
    
    <div class="header">
    	<ul class="headermenu">
        	<li class="current"><a href="/urlManageVideo"><span class="icon glyphicon glyphicon-film"></span>视频管理</a></li>
            <li><a href="/showAllFolder"><span class="icon glyphicon glyphicon-list-alt"></span>文件管理</a></li>
          
        </ul>
        
       <div class="headerwidget">
         <ul class="headermenu">
        	<li class="current"><a href="/modelV"><span class="icon glyphicon glyphicon-home"></span>返回主页</a></li>
            <li><a href="/signin"><span class="icon glyphicon glyphicon-off" style="width:60px;height:30px;"></span>退出</a></li>
        </ul>
           
        </div><!--headerwidget-->
        
    </div><!--header-->
    
    <div class="vernav" style="top:96px;">
    	<ul>
			<li><a href="/urlManageVideo">显示文件夹</a></li>	
			<li><a href="/urlManageVideoMkdirs" class="editor">创建文件夹</a></li>		
			<li><a href="/urlManageShowVideo">显示视频</a></li>
		</ul>
		<a class="togglemenu"></a>
        
    </div><!--leftmenu-->
    
    <div class="centercontent">
		<h1 th:text="显示刚才创建的视频文件夹" align="center"></h1>
		<table class="table table-hover">
			<tr>
				<td>id</td>
				<td>folder</td>
				<td>userid</td>
				<td>功能</td>
			</tr>
		
			<tr th:each="lFolder : ${session.entityShowVideoFolder}">
		
				<td th:text="${lFolder.id}"></td>
				<td th:text="${lFolder.folder}"></td>
				<td th:text="${lFolder.userid}"></td>
      	        <td> 
  	            	<a th:href="@{/urlUploadVideoId?(id=${lFolder.id})}">上传视频</a>
           		</td>
            
		   </tr>
	   </table>
	</div><!--centercontent-->
    
</div><!--bodywrapper-->
	
</body>
</html>